body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background-color: #f2f2f2;
}
.navbar{
	width: 100%;
	background-color: #fff;
	height: 100px;
}
.nav-list{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.nav-list .nav-item {
	list-style: none;
	display: inline-block;
	padding: 0 ;
	margin: 0 20px;
	line-height: 100px;
}
.nav-list .nav-item .nav-link {
	color: #000;
	text-decoration: none;
}
.nav-list .nav-item .nav-link:hover{ 
	color: #7ed321;
}
.nav-list .nav-item .nav-link img {
	width: 150px;
	vertical-align: middle;
}
.nav-list .nav-item-logo{
	margin: 0 100px;
}
.nav-toggle{
	display: none;
}
#icon-bar{
	display: none;
}
@media only screen and (max-width: 991px) {
	.nav-list .nav-item {
		margin: 0 15px;
	}
	.nav-list .nav-item-logo {
		margin: 0 20px;
	}
}
@media only screen and (max-width: 767px) {
	
	.nav-list{
		background-color: #f2f2f2;
		margin: 25px 0px;
		display: none;
	}
	.nav-list .nav-item {
		display: block;
		line-height: normal;
		padding: 25px 0;
		margin: 0px;
	}
	.nav-list .nav-item-logo {
		display: none;
	}
	.nav-toggle .nav-logo img{
		width: 150px;
		vertical-align: middle;
	}
	.nav-toggle{
		display: block;
		width: 100%;
		padding: 10px 30px;
		background-color: #fff;
		box-sizing: border-box;
		height: 100px;
		color: #7ed321;
		font-size: 30px;
		position: relative;
	}
	.nav-toggle .nav-logo,
	.nav-toggle label{
		line-height: 80px;
	}
	.nav-toggle label{
		position: absolute;
		right: 30px;
	}
	.nav-toggle label .fa-times{
		display: none;
	}
	#icon-bar:checked ~ .nav-list {
		display: block;
	}
	#icon-bar:checked ~ .nav-toggle label .fa-times{
		display: inline;
	}
	#icon-bar:checked ~ .nav-toggle label .fa-bars{
		display: none;
	}
		
}

